
.directions__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.directions__item {
    width: 49%;
    max-width: 540px;
    margin-bottom: 20px;
}

.directions__title {

    margin-bottom: 20px;

    background-color: var(--primary);
    text-align: center;
    cursor: pointer;

    position: relative;
}

.directions__img {
    transition: .15s linear;
}

.directions__title:hover .directions__img{
    opacity: 0;
}

.directions__text {
    width: 75%;

    font-weight: 700;
    font-size: 24px;

    color: var(--light);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%,-50%, 0);
}

.directions__more {
    padding: 0 90px;

    background-color: var(--bg);
    min-width: 1100px;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 1.2s linear;
}

.directions__more.right {
    transform: translateX(-51%);
}

.directions__more h2{
    margin-top: 60px;
    margin-bottom: 40px;

    max-width: 692px;

    font-size: 24px;
    font-weight: 700;
    color: var(--body);
}

.directions__more p{
    max-width: 692px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body);
}

.directions__more p:last-child {
    margin-bottom: 50px;
}

.directions__item:hover .directions__more {
    max-height: 900px;
}

.direction-btn {
    display: none;
}

@media (max-width: 1024px) {
    .directions__item {
        max-width: 390px;
    }

    .directions__text {
        font-size: 18px;
    }

    .directions__more {
        min-width: 800px;
    }

    .directions__more.right {
        transform: translateX(-51.25%);
    }
}

@media (max-width: 820px) {
    .directions__item {
        width: 98%;
        max-width: 540px;
    }

    .directions__title {
        margin-bottom: 0;
    }

    .directions__text {
        font-size: 20px;
        width: 85%;
    }

    .directions__group {
        justify-content: center;
    }

    .directions__more {
        min-width: 540px;
        padding: 0 50px;
    }

    .directions__more.right {
        transform: none;
    }

    .directions__more h2 {
        margin-top: 20px;
    }
}

@media (max-width: 425px) {
    .directions__item {
        max-width: 100%;
        margin-bottom: 0;
    }

    .directions__text {
        font-size: 16px;
    }

    .directions__more {
        min-width: 100%;
        margin-bottom: 10px;
        padding: 0 25px;
    }

    .direction-btn {
        width: 100%;
        display: block;
    }
}

@media (max-width: 375px) {
    .directions__text {
        font-size: 14px;
    }
}